[Unit]
Description=City Trees App
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/city_trees/current/prod/rel/server/bin/server start
ExecStop=/city_trees/current/prod/rel/server/bin/server stop
EnvironmentFile=/city_trees/current/.env
Restart=always
DynamicUser=yes

RemainAfterExit=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictNamespaces=yes
LockPersonality=yes
PrivateDevices=yes
PrivateUsers=yes
RuntimeDirectory=city_trees 
StateDirectory=city_trees
CacheDirectory=city_trees
LogsDirectory=city_trees
ConfigurationDirectory=city_trees
ProtectClock=yes
ProtectKernelLogs=yes
RestrictSUIDSGID=yes
ProtectHome=false